@media(max-width:780px)
		{
			.first .map{width: 100%}
			.first .email{width: 50%}
			.first .phone{width: 50%}
			.first {height: 100%}
			/*.image {height: 100%,width:100%;}*/
			/*.position: {width: 50% }*/
			.main .info .menu a {width: 25%}



		}

@media(max-width:500px)
		{
			.first .map{width: 100%}
			.first .email{width: 100%}
			.first .phone{width: 100%}
			/*.image {height: 100%,width:100%;}
			.position: {width: 50%}*/
			.facultylesson .fl1 .fl3 .fl7{width: 100%}
			.main .info .menu a {display: none;}
			.main .info .menu i {display: block;}
	}


@media(max-width:455px)
{

}